{{define "footer"}}

    <footer style="margin-top: 40px; padding: 20px; border-top: 1px solid #ccc; text-align: center; color: #666;">
        <p>&copy; 2026 Університет | Лабораторна робота №4</p>
        <p>Час на сервері: <strong>{{.CurrentDate}}</strong></p>
    </footer>
{{end}}